---
ci:
  skip: [pipenv, mypy, check-python-version-consistency]

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 4.0.0
default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: pretty-format-json
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --respect-gitignore, --show-fixes]
      - id: ruff-format

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
      - id: rstcheck
        additional_dependencies: [sphinx, toml]

  - repo: local
    hooks:
      - id: pipenv
        stages: [pre-commit, manual]
        language: system
        name: Install dependencies for the local linters
        entry: bash -c "pip install pipenv && pipenv install --dev"
        types_or:
          - python
          - toml  # Pipfile
        pass_filenames: false
      - id: mypy
        stages: [pre-commit, manual]
        name: mypy
        entry: pipenv run mypy .
        language: system
        types_or:
          - python
          - toml  # Pipfile
        pass_filenames: false
      - id: check-python-version-consistency
        name: Check Python version consistency (pyproject.toml)
        description: Checks whether 'requires-python' is consistent with 'classifiers'.
        entry: ./check_python_versions.py  # Path to a script in this repository
        language: python
        additional_dependencies: [
          "packaging>=20.0",
          "tomli>=1.0.0; python_version < '3.11'" # Tomli only for Py < 3.11
        ]
        files: ^pyproject\.toml$
        pass_filenames: false
